<div class="container">
  <h2 class="title">ログインしてね</h2>
  <div class="title_menu">
    <% resource = User.new unless resource %>
    <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
      <div class="field">
        <%= f.label :"ユーザー名" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "USERNAME" %>
      </div>
    
      <div class="field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <!-- <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %> -->
    
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    
    <%= render "users/shared/links" %>
  </div>
</div>
